DEBUG=1
SECRET_KEY=change-me-dev-key
ALLOWED_HOSTS=127.0.0.1,localhost

# PostgreSQL (habilitar cuando ya tengas la BD)
POSTGRES_DB=
POSTGRES_USER=postgres
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
